.promo{
    
    
    background: url(../img/promo.jpg) no-repeat center;
    background-size:cover;
}

.promo__text{
    .font-ubuntu();
    font-weight: bold;
    flex-direction: column;
    color: white;
    padding-top: 20%;
    padding-bottom: 18%;
    font-size: 3.5vw;
    &__upper{
        background-color: rgba(0, 0, 0, 50%);
        padding: .68rem 2.62rem;
        margin-bottom:.68rem;
    }
    &__downer{
        background-color: rgba(0, 0, 0, 50%);
        padding: .68rem 1.31rem;        
    }

}
.bottom-item{
    .font-ubuntu();
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #f36b47;
    padding: 1.5rem 1.56rem;
    font-size: 2.8vw;
    .primary{
        font-weight: bold;
        text-transform:uppercase;
        text-decoration: underline;
    }
}
