.slider {
    @media (min-width: 601px) {
        margin-left: 5%;
    }
    @media (min-width: 660px) {
        display: none;
    }
    .slider_line {
        display: flex ;
        justify-content: center;
        position: relative;
        height: 300px;
        width: 460px;
        overflow: hidden;


        .recent-project__blocks__item{
            display: block;
            position: absolute;
            left: 120%;
            top: -30px;
        }
        .recent-project__blocks__item:nth-child(1){left: 20%};
        @media (max-width: 400px) {
            .recent-project__blocks__item:nth-child(1){left:0};
        }
    }
}
.recent-project {
    &__blocks {
        display: block;

        margin: 0 auto;
        display: none;

        @media (min-width: 660px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 auto;
            padding-left: 2rem;
            padding-right: 2rem;
            max-width: 1000px;
        }
        @media (min-width: 1024px) {
            display: none;
        }
    }
}

.recent-project__blocks__item{
    .font-ubuntu();

    max-width: 252px;
    text-align: center;
    margin:3.75rem auto;
    background-color: #eee;
    border: 1px solid #e0dddd;
    transition: .2s;

    

    &__title{
        display: inline-block;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 8px;
        font-size: 1.5rem;
        font-weight: normal;
        color: var(--second-primary-color);
        border-bottom:1px solid #e0dddd;
    }
    &__sub-title{
        padding-top: 6px;
        padding-bottom: 13px;
        font-size: 1.1rem;
        font-weight: 400;
        color: var(--second-text-color);
    }
}
    .recent-project__blocks__item:hover{
    transform: scale(1.1);
    }
    .recent-project__blocks__item:active{
    transform: scale(1);
    }

    .recent-project__blocks-desk{
        display: none;

        @media (min-width: 1024px) {
            display: flex;
        }
    }

    @media (min-width: 768px) {
        .recent-project__blocks__left {
            flex-direction: row;
        }
        .recent-project__blocks__right {
            flex-direction: row;
        }
    }