.uibrush__blocks__right{
    flex-direction: column;
    @media (min-width: 768px){
        flex-direction: row;
    }
}
.uibrush__blocks__left{
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
    }
}


.uibrush{
    &__title-text{
        padding-top:2.81rem;
    }
}

.uibrush__title-text{
    .font-ubuntu();
    text-align: center;
    padding-bottom:2.25rem;
    color: var(--text-color);
    &__title{
        font-weight: 500;
        display: inline-block;
        color: var(--title-color);
        font-size: 1.62rem;
        margin-bottom: 1.37rem;
        border-bottom: 2px solid var(--primary-color);
    }
    &__text{
        @media (min-width: 768px){
            width: 60%;
            text-align: center;
            margin: 0 auto;
        }
    }
    
}
.uibrush__border{
    background-color: var(--primary-color);
    height: 8px;
    width: 100%;
        @media (min-width: 768px) {
            display: none;
        }
}
.first-border{
    margin-bottom: 3.06rem;
}

.uibrush__blocks{
    flex-direction:column;
    text-align: center;

        @media (min-width: 768px) {
            margin-bottom: 5.12rem;
        }
        @media (min-width: 1024px) {
            flex-direction:row;
        }
}
.uibrush__blocks__item{
    margin-bottom: 1.93rem;
    
    &__image{
        margin-bottom: 1rem;
    }
    &__title{
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color:var(--title-color);

            @media (min-width: 768px){
                font-size: 20px;
        }
    }
    &__text{
        .font-ubuntu();
        color: var(--text-color);
        font-size: 1.1rem;
        text-align: center;

            @media (min-width: 768px){
                margin: 0 auto;
                text-align: left;
                font-size: 12px;
                width: 72%;
        }
    }
}
.last{
    margin-bottom: 3rem;
}
.recent-project__title-text{
    .font-ubuntu();
    text-align: center;
    padding-bottom:2.25rem;
    color: var(--text-color);
    &__title{
        display: inline-block;
        color: var(--title-color);
        font-size: 1.62rem;
        margin-bottom: 1.37rem;
        border-bottom: 2px solid var(--primary-color);
    }
}