.uibrush__blocks__right{
    flex-direction: column;
}
.uibrush__blocks__left{
    flex-direction: column;

}


.uibrush{
    &__title-text{
        padding-top:2.81rem;
    }
}

.uibrush__title-text{
    .font-ubuntu();
    text-align: center;
    padding-bottom:2.25rem;
    color: var(--text-color);
    &__title{
        font-weight: 500;
        display: inline-block;
        color: var(--title-color);
        font-size: 1.62rem;
        margin-bottom: 1.37rem;
        border-bottom: 2px solid var(--primary-color);
    }
    
}
.uibrush__border{
    background-color: var(--primary-color);
    height: 8px;
    width: 100%;
}
.first-border{
    margin-bottom: 3.06rem;
}

.uibrush__blocks{
    flex-direction:column;
    text-align: center;
}
.uibrush__blocks__item{
    margin-bottom: 1.93rem;
    
    &__image{
        margin-bottom: 1rem;
    }
    &__title{
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color:var(--title-color);
    }
    &__text{
        .font-ubuntu();
        color: var(--text-color);
        font-size: 1.1rem;
        text-align: center;
        
    }
}
.last{
    margin-bottom: 3rem;
}
.recent-project__title-text{
    .font-ubuntu();
    text-align: center;
    padding-bottom:2.25rem;
    color: var(--text-color);
    &__title{
        display: inline-block;
        color: var(--title-color);
        font-size: 1.62rem;
        margin-bottom: 1.37rem;
        border-bottom: 2px solid var(--primary-color);
    }
    &__text{
    }
}